.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--color-accent-opacity);
}

.taskLabel {
  display: flex;
  width: 100%;
}

.taskCheckbox:checked + span {
  text-decoration: line-through;
}

.taskEditInput {
  width: 100%;
  padding: 0;
  border: none;
}

.taskButton {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid var(--color-black);
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.5;
  }
}

.taskButtonRemove {
  background-image: url('./images/bin.svg');
}

.taskButtonSave {
  background-image: url('./images/check.svg');
}
.taskButtonEdit {
  background-image: url('./images/edit.svg');
}
